$blue: #43bccd;
$green: #78bc38;
$orange: #f86624;
$purple: #662e9b;
$red: #ea3546;
$yellow: #f9c80e;
$deep-blue: #112f34;
$grey-2: #435153;
$grey: #4d6468;
$light-grey: #89999b;
$lighter-grey: #c4cccd;
$not-white: #f1f3f3;
$white: #ffffff;
$gradient: linear-gradient(180deg, #43bccd 0%, #78bc38 100%);
