$blue: #43BCCD;
$green: #78BC38;
$orange: #F86624;
$purple: #662E9B;
$red: #EA3546;
$yellow: #F9C80E;
$deep-blue: #112F34;
$grey: #435153;
$light-grey: #89999B;
$lighter-grey: #C4CCCD;
$not-white: #F1F3F3;
$white: #FFFFFF;
$gradient: linear-gradient(180deg, #43BCCD 0%, #78BC38 100%);
