@use "colors" as *;

$slot-size: 16rem;
$half-slot-size: $slot-size / 2;
$slot-size-active: 18rem;
$name-offset: 18rem;
$name-offset-y: 3rem;

.token-slots {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .token-slot {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: $slot-size;
    height: $slot-size;
    background: $light-grey;
    border-radius: 50%;
    border-width: 1rem;
    border-style: solid;
    border-color: $grey;
    transition: all 0.2s ease-in-out;

    &.active {
      background: $green;
      border-color: $blue;
      border-width: 1.2rem;
      width: $slot-size-active;
      height: $slot-size-active;
    }

    &.upper-left {
      top: 0;
      left: 0;
      transform: translate(-50%, -50%);

      .pupil-name {
        transform: translate($half-slot-size, $half-slot-size) rotate(135deg);
      }
    }

    &.upper-right {
      top: 0;
      right: 0;
      transform: translate(50%, -50%);

      .pupil-name {
        transform: translate(-$half-slot-size, $half-slot-size) rotate(-135deg);
      }
    }

    &.lower-left {
      bottom: 0;
      left: 0;
      transform: translate(-50%, 50%);

      .pupil-name {
        transform: translate($half-slot-size, -$half-slot-size) rotate(45deg);
      }
    }

    &.lower-right {
      bottom: 0;
      right: 0;
      transform: translate(50%, 50%);

      .pupil-name {
        transform: translate(-$half-slot-size, -$half-slot-size) rotate(-45deg);
      }
    }

    .pupil-name {
      position: absolute;
      width: 15rem;
      font-size: 1.5rem;
      font-weight: 500;
      color: $white;
      text-wrap: nowrap;
      text-align: center;
      transition: all 0.2s ease-in-out;
      transform-origin: center;
    }
  }
}
