.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 300px;
    margin-top: 13%;
    margin-left: 30%;
}
.conteneur-central {
    display: grid;
    grid-template-columns: repeat(3, 15vh);
    grid-template-rows: repeat(3, 15vh);
    gap: 1vh;
    margin: 1vh;
}

button {
    top: 5px;
    left: 5px;
}

button:last-child {
    left: auto;
    right: 5px;
}
/* Ajoutez cette classe pour déclencher l'animation */
.shining {
    animation: blinkAnimation 1s infinite;
}

/* Définissez l'animation elle-même */
@keyframes blinkAnimation {
    0%, 100% {
        background-color: initial; /* Couleur d'arrière-plan par défaut */
    }
    50% {
        background-color: blue; /* Couleur d'arrière-plan pendant le clignotement */
    }
}


#jeu {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.case {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 15vh;
    height: 15vh;
    font-size: 8vh;
    font-weight: bold;
    background-color: white ;
}

.conteneur-lateral {
    display: flex;
}

.conteneur-numeros {
    display: flex;
    gap: 5vh;
}

.conteneur-numeros.haut, .conteneur-numeros.bas {
    justify-content: center;
}

.conteneur-numeros.gauche, .conteneur-numeros.droite {
    flex-direction: row;
    align-items: center;
}

.conteneur-numeros.droite {
    align-content: flex-start;
    flex-wrap: wrap;
    position: relative;
    left: 6vh;
}

.conteneur-numeros.haut {
    position: relative;
}
.conteneur-numeros.bas {
    position: relative;
}

.conteneur-numeros.gauche {
    align-content: flex-start;
    flex-wrap: wrap;
    position: relative;
    right: 6vh;
}

.numero {
    border: 1px solid black;
    text-align: center;
    background-color: green;
    padding: 1vh 3vh 2vh 3vh;
    font-size: 8vh;
}

.bouton {
    margin: 10px;
    padding: 5px 15px;
}

.rotate-180 {
    transform: rotate(180deg);
    transition: transform 0.5s ease-in-out;
}

.rotate-90 {
    transform: rotate(90deg);
    transition: transform 0.5s ease-in-out;
}
.rotate-moins-90 {
    transform: rotate(-90deg);
    transition: transform 0.5s ease-in-out;
}
.color-1 {
    background-color: #FFE500; /* Jaune */
}

.color-2 {
    background-color: #FF00E5; /* Magenta */
}

.color-3 {
    background-color: #00FFF0; /* Cyan */
}

.color-4 {
    background-color: #FF5C00; /* Orange */
}

/* Autres styles pour .grid-item, .case, etc. */
