#checkboxleft{
position: absolute;
left: 20vh;
top: 50vh;
}

#checkboxright{
    position: absolute;
    right: 20vh;
    top: 50vh;
}

#checkboxtop{
    position: absolute;
    bottom: 5vh;
}

#checkboxbottom{
    position: absolute;

    top: 5vh;
}


.checkbox {
    transform: scale(6); /* Agrandit la checkbox de 50% */
    z-index: 0;
}
div > input + img {
    position: absolute;
    left : -1vw;
    top: -2vh;
    height: 6vh;
    width: 6vh;
    z-index: 100000000000000;
}


