@use "sass/colors" as *;
@import "sass/info";
@import "sass/token-slots";

$logo-width: 12rem;
$start-button-offset-x: 15rem;
$start-button-offset-y: 2rem;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: "Poppins", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background: linear-gradient(180deg, #43bccd 0%, #78bc38 100%);

  &.login {
    background: $deep-blue;
    color: $white;
  }
}

.logo {
  width: $logo-width;

  img {
    width: 100%;
    height: auto;
  }
}

.reverse {
  transform: rotate(180deg);
}

button.start {
  position: absolute;
  visibility: hidden;
  padding: 1rem 2rem;
  font-size: 2rem;
  color: $white;
  font-weight: 600;
  background-color: $green;
  border: none;
  transition:
    background-color 0.2s ease-out,
    top 0.2s ease-out,
    left 0.2s ease-out,
    right 0.2s ease-out,
    bottom 0.2s ease-out;

  &.upper-left {
    top: $start-button-offset-y;
    left: $start-button-offset-x;
    rotate: 180deg;
  }

  &.upper-right {
    top: $start-button-offset-y;
    right: $start-button-offset-x;
    rotate: 180deg;
  }

  &.lower-left {
    bottom: $start-button-offset-y;
    left: $start-button-offset-x;
  }

  &.lower-right {
    bottom: $start-button-offset-y;
    right: $start-button-offset-x;
  }

  &.inactive {
    background-color: $grey;
  }
}
