:root {
    --yellow: #F9C80E;
    --orange: #F86624;
    --red: #EA3546;
    --purple: #662E9B;
    --green: #78BC38;
    --blue: #43BCCD;
    --deep-blue: #112F34;
    --grey: #435153;

    --white: #FFFFFF;
}

@font-face {
    font-family: "Wendy One";
    src: url("./assets/fonts/WendyOne-Regular.ttf");
}

@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins-Bold.ttf");
    font-weight: bold;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

body {
    font-family: "Poppins", Helvetica, "Helvetica Neue", sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#root {
    height: 100%;
    width: 100%;
    overflow: hidden;
}


/*#title {*/
/*    height: 150px;*/
/*    width: 400px;*/
/*}*/

.margin {
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.margin.up {
    justify-content: flex-end;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

.margin.down {
    justify-content: flex-start;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
}

#game-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    width: 1920px;
    height: 1080px;
}

#board {
    display: block;
    position: relative;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background: #969696;
}

.cell {
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 100px;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reverse {
    transform: rotate(180deg);
}

/*.cell,*/
/*img {*/
/*    width: 100px;*/
/*    height: 100px;*/
/*}*/

/*#inv-pipe-straight {*/
/*    width: 60px;*/
/*}*/

/*#inv-pipe-t {}*/

/*#inventory {*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*    flex-wrap: wrap;*/
/*    width: 100%;*/
/*    height: 120px;*/
/*    background-color: lightblue;*/
/*    border: 10px solid black;*/
/*    margin: 0 auto;*/
/*}*/

/*.pipeCount {*/
/*    background-color: rgba(255, 255, 255, 0.8);*/
/*    padding: 2px 6px;*/
/*    border-radius: 4px;*/
/*}*/
