/* EyeIcon.css */
.eye-icon {
    position: absolute;
}

.eye-icon-left {
    left: 18%;
    top: 50%;
    transform: translateY(-50%);
}

.eye-icon-right {
    right: 25%;
    top: 50%;
    transform: translateY(-50%);
}

.eye-icon-top {
    top: 10%;
    left: 46%;
    transform: translateX(-50%);
}

.eye-icon-bottom {
    bottom: 8%;
    left: 46%;
    transform: translateX(-50%);
}

