
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 300px;
    margin-top: 13%;
    margin-left: 30%;
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border: 2px solid #000;
    font-size: 20px;
    font-weight: bold;
    background-color: white ;
}
